.container {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    gap: 30px;
    justify-content: center;
}

.container .img-container img {
    width: 100%;
    border-radius: 20px;
}

.title{
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
}

.description{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
}